<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <div th:replace="fragments/header :: header-css"/>
</head>
<body> 
 <div th:replace="fragments/header :: header" />
  <div  class="text-center">
   <h1 class="mt-5">Minhas Moedas</h1>
   <h2 class="mt-5">Spring Boot + Thymeleaf</h2>
   <h3 class="mt-5">Por: <a href="https://github.com/boaglio" target="_blank">Fernando Boaglio</a></h3>
   <img src="https://avatars1.githubusercontent.com/u/6140?v=3&s=460"/>
   <div th:replace="fragments/footer :: footer"/>
 </div>
</body>
</html>
